<app-confirm-dialog></app-confirm-dialog> 
<div class="container">
<br>

<table class="table" *ngIf = "products && products.length">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Category</th>
        <th scope="col"># of items</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let product of products">
        <td style="text-align: -webkit-center"><img [src]="product.productImage" style="height: 80px;"></td>
        <td>{{product.name}}</td>
        <td>{{product.price | currency : 'INR'}}</td>
        <td>{{product.category}}</td>
        <td>
            <button class="btn btn-primary" [disabled] = "product.quantityInCart == 1 " (click) = "decreaseProductQuantityInCart(product)">-</button>
            {{product.quantityInCart}}
            <button class="btn btn-primary" [disabled] = "product.quantityInCart == product.product_quantity || product.quantityInCart > product.product_quantity" (click) = "increaseProductQuantityInCart(product)">+</button>
        </td>
        <td>
            <button class="btn btn-danger" (click) = "removeProductFromCart(product)">
              Delete item
            </button>
          </td>
      </tr>
      <tr>
        <td style="text-align: -webkit-center">Total price : </td>
        <td>{{total_price | currency : 'INR'}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td><button [routerLink]="['/order']" routerLinkActive = "active" class="btn btn-primary">Proceed to checkout</button></td>
      </tr>
      
    </tbody>
  </table>
  <div class="card text-center" *ngIf = "products.length == 0">
    <p>Currently, there is no item available in your cart.</p>
  </div>
  <br>
  <button class="btn btn-primary" [routerLink] = "['/grid']" routerLinkActive = "active" style="margin-left: 820px;" >Back to products</button>
  </div>